[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyinstaller = "*"
python-dotenv = "*"
requests = "*"
pandas = "*"
openpyxl = "*"
phonenumbers = "*"
weasyprint = "*"
jinja2 = "*"
sourcery = "*"

[dev-packages]

[requires]
python_version = "3.11"
